@import 'tailwindcss';

/* You can add global styles to this file, and also import other style files */
html,
body {
  display: grid;
  height: 100%;
}

body {
  place-items: center;
  min-height: 100vh;
}
